const fontsDirectory = resolve(__dirname, "public/assets/fonts");
const fontFiles = readdirSync(fontsDirectory).filter((file) =>
  file.endsWith(".woff2")
);

const injectFontsToHead: HtmlTagDescriptor[] = fontFiles.map((fontFile) => ({
  injectTo: "head",
  tag: "link",
  attrs: {
    rel: "preload",
    href: `/assets/fonts/${fontFile}`,
    as: "font",
    type: "font/woff2",
    crossOrigin: "anonymous",
  },
}));